[submodule "fixmi-microservizio-task"]
	path = fixmi-microservizio-task
	url = https://github.com/IS-FixMi/fixmi-microservizio-task
[submodule "fixmi-microservizio-autenticazione"]
	path = fixmi-microservizio-autenticazione
	url = https://github.com/IS-FixMi/fixmi-microservizio-autenticazione.git
[submodule "fixmi-api-gateway"]
	path = fixmi-api-gateway
	url = https://github.com/IS-FixMi/fixmi-api-gateway.git
[submodule "fixmi-microservice-gestione-dipendenti"]
	path = fixmi-microservice-gestione-dipendenti
	url = https://github.com/IS-FixMi/fixmi-microservice-gestione-dipendenti.git
[submodule "fixmi-microservice-home"]
	path = fixmi-microservice-home
	url = https://github.com/IS-FixMi/fixmi-microservice-home.git
[submodule "fixmi-microservizio-home"]
	path = fixmi-microservizio-home
	url = https://github.com/IS-FixMi/fixmi-microservizio-home.git
